<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="/">Home</a>
            <a href="/blog/archive">Archive</a>
        </div>
        <div class="navbar-right">
            <% if (user) { %>
                <a href="/blog/<%= slug %>" onclick="logout(event)">Logout</a>
            <% } else { %>
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            <% } %>
        </div>
    </nav>

    <div id="blog-container">
        <h1><%= title %></h1>

        <ul id="blog-info">
            <li id="author">Author: <%= author %></li>
            <li id="created-at"><%= createdAt %></li>
            <% if (createdAt != updatedAt) { %>
                <li id="updated-at">Updated: <%= updatedAt %></li>
            <% } %>
        </ul>
        

        <hr>
        
        <div id="blog-body">
            <%- body %>
        </div>
        
    </div>

    <hr>

    <div id="comment-section-container">
        <div id="new-comment-container">
            <textarea placeholder="Write a comment..." id="comment-content"></textarea>
            <button id="postCommentBtn" onclick="postComment()">Post</button>
        </div>

        <div id="all-comments-container">
            
        </div>
    </div>
</body>
</html>